---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1>{{ page.title | escape }}</h1>

    {% if page.date %}
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
        {% if page.categories %}
          in {{ page.categories | join: ", " }}
        {% endif %}
      </p>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
